.App {
  text-align: center;
}
h1.textInfo{
  margin: 40px;
  color: crimson;
}

input.inputText{
  padding-left: 5px;
  margin: 14px;
  width: 400px;
  height: 30px;
  border: 1px solid rgba(100, 100, 100, .2);
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgb(0, 0, 0, .1) ;
}
button.buttonSubmit{
  width: 100px;
  height: 30px;
  background-color: lightgreen;
  border: none;
  border-radius: 5px;
  font-size: 14pt;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
button.buttonSubmit:hover{
  background-color: rgb(105, 211, 105);
}
.card{
  display: inline-block;
  box-shadow: 2px 2px 5px rgb(0, 0, 0, .2);
  padding: 24px 16px;
  background-color: #eee;
  border-radius: 10px;
  margin-top: 40px;
}
img{
  width: 120px;
}